/****** General ***********/
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.main-container{
    width: 100%;
    box-sizing: border-box;
}
h1{
    font-family: 'shrikhand';
    font-weight: 400;
}
p{
    font-weight: 300;
}
h2{
    font-size: 24px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0
;
h3{
    font-size: 16px;
}

/****** Homepage ***********/ 
;
/****** Header ***********/
.logo{
    font-size: 30px;
    padding: 14px 0px 5px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
}
/****** Location ***********/
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    p{
        font-weight: 500;
        padding: 16px 0px 15px 0px;
        margin: 0;
    }
    i{
        color: #353535;
    }
}
/****** Explore ***********/
.explorerestaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    h2{
        margin-top: 39px;
        margin-bottom: 0;
        line-height: 28px;
        width: 70%;
        font-weight: 700;
    }
    p{
        font-size: 18px;
        line-height: 21px;
        margin-top: 10px;
    }
}
.explorebutton{
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 218px;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to top, $color-primary, $color-secondary);
    margin-top: 27px;
    margin-bottom: 57px;
}
/****** Fonctionnement ***********/
.fonctionnement{
    padding-left: 20px;
    padding-bottom: 68px;
    h2{
        padding-top: 48px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin: 26px 20px 0px 12px;
        gap: 25px;
        &--unit{
            display: flex;
            align-items: center;
            border-radius: 20px;
            gap: 23px;
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            p{
                display: flex;
                background: $color-primary;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                color: #F6F6F6;
                font-size: 14.18px;
                justify-content: center;
                align-items: center;
                margin-left: -12.51px;
            }
            i{
                color: #7E7E7E;
            }
            i:hover{
                color: $color-primary;
            }
            h3{
                padding: 28.59px 20px 28.12px 0px;
                margin: 0px;
            }
        }
    }
}
/****** Restaurants ***********/
.restaurants{
    display: flex;
    flex-direction: column;
    padding: 54px 20px 64px 20px;
    background: #F7F7F7;
    &__card{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 18px;
        &--unit{
            display: flex;
            flex-direction: column;
        }
        .newbutton p{
            display: flex;
            background: $color-tertiary;
             justify-content: center;
             align-items: center;
             border-radius: 2px;
             color: #008766;
             font-size: 14px;
             font-weight: 500;
             width: 80px;
             height: 29px;
             position: absolute;
             right: 5%;
             top: 5%;
        }
        .restaurants__card--content{
            display: flex;
            flex-direction: row;
            padding: 16px 25px 12px 13px;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 0px 0px 15px 15px;
            width: 308px;
            h3{
                font-size: 18px;
                margin: 0px;
            }
            p{
                font-size: 17px;
                margin-top: 5px;
                margin-bottom: 0px;
            }
        }
    }
    img{
        border-radius: 15px 15px 0px 0px ;
        object-fit: cover;
        width: 346px;
        height: 231px;
        position: relative;
    }
}
/****** Footer ***********/
footer{
    display: flex;
    flex-direction: column;
    padding: 22px 0px 33px 25px;
    margin: 0px;
    background: #353535;
    color: #FFFFFF;
    h1{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    .footer__text{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    p{
        margin: 0px;
    }
    .footer__icon{
        display: flex;
        align-items: center;
        gap: 11px;
    }
}