/****** General ***********/
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 320px;
}
.main-container{
    width: 100%;
    box-sizing: border-box;
}
h1{
    font-family: 'shrikhand';
    font-weight: 400;
}
p{
    font-weight: 300;
}
h2{
    font-size: 24px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
h3{
    font-size: 16px;
}

/****** Homepage ***********/ 
;
/****** Header ***********/
.logo{
    font-size: 30px;
    padding: 14px 0px 5px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Location ***********/
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    p{
        font-weight: 500;
        padding: 16px 0px 15px 0px;
        margin: 0;
    }
    i{
        color: #353535;
    }
}

/****** Explore ***********/
.explorerestaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    h2{
        margin-top: 39px;
        margin-bottom: 0;
        line-height: 28px;
        width: 70%;
        font-weight: 700;
        @media (min-width:768px){
            margin: 39px 50px 20px 50px;
        }
    }
    p{
        font-size: 18px;
        line-height: 21px;
        margin-top: 10px;
        @media (min-width:768px){
            margin: 0;
        }
        @media (min-width:1024px){
            margin: 48px 0 20px 0;
        }
    }
}
.explorebutton{
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 218px;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to top, $color-primary, $color-secondary);
    margin-top: 27px;
    margin-bottom: 57px;
    transition: transform 200ms;
    &:hover{
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.01);
        filter: brightness(105%);
    }
    @media (min-width:768px){
        margin: 27px 0 20px 0;
    }
}

/****** Fonctionnement ***********/
.fonctionnement{
    padding-left: 20px;
    padding-bottom: 68px;
    @media (min-width:768px){
        padding-bottom: 0;
        padding-left: 0;
    }
    h2{
        padding-top: 48px;
        @media (min-width:768px){
            margin: 48px 0 20px 120px;
            padding-top: 0;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin: 26px 20px 0px 12px;
        gap: 25px;
        @media (min-width:768px){
            flex-direction: row;
            justify-content: center;
            margin: 26px 24px 35px 24px;
        }
        @media (min-width:1024px){
            margin-left: 120px;
        }
        &--unit{
            display: flex;
            align-items: center;
            border-radius: 20px;
            gap: 23px;
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            transition: transform 150ms;
            @media (min-width:768px){
                width: 300px;
            }
            p{
                display: flex;
                background: $color-primary;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                color: #F6F6F6;
                font-size: 14.18px;
                justify-content: center;
                align-items: center;
                margin-left: -12.51px;
            }
            i{
                color: #7E7E7E;
            }
            h3{
                padding: 28.59px 20px 28.12px 0px;
                margin: 0px;
            }
        &:hover{
            background: #fefefe;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
            transform: scale(1.02);
            i{
                color: $color-primary;
            }
        }
        }
    }
}

/****** Restaurants ***********/
.restaurants{
    display: flex;
    flex-direction: column;
    padding: 54px 20px 64px 20px;
    background: #fafafa;
    @media (min-width:768px){
        padding-top: 48px;
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (min-width:1024px){
        padding-left: 120px;
        padding-right: 120px;
    }
    h2{
        margin: 0px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 18px;
        @media (min-width:768px){
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            width: auto;
        }
        @media (min-width:1024px){
            gap: 38px;
        }
        &--unit{
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 15px;
            &:hover{
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            }
            img{
                border-radius: 15px 15px 0px 0px ;
                object-fit: cover;
                width: 100%;
                height: 231px;
                position: relative;
            }
            .newbutton p{
                display: flex;
                background: $color-tertiary;
                 justify-content: center;
                 align-items: center;
                 border-radius: 2px;
                 color: #008766;
                 font-size: 14px;
                 font-weight: 500;
                 width: 80px;
                 height: 29px;
                 position: absolute;
                 right: 5%;
                 top: 5%;
                 margin: 0px;
            }
        }
        .restaurants__card--content{
            display: flex;
            flex-direction: row;
            padding: 16px 0px 12px 13px;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFFFF;
            width: 97%;
            border-radius: 0px 0px 15px 15px ;
            h3{
                font-size: 18px;
                margin: 0px;
            }
            p{
                font-size: 17px;
                margin-top: 5px;
                margin-bottom: 0px;
            }
            .heart_container i {
                font-size: 28px;
                transition: all 400ms ease-in-out;
                position: absolute;
                bottom: 25px;
                right: 25px;
              }           
            .heart_container .heart_full {
                background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                opacity: 0;
            }      
            .heart_container:hover .heart_full {
                opacity: 1;
            }
        }
    }
}

/****** Footer ***********/
footer{
    display: flex;
    flex-direction: column;
    padding: 22px 0px 33px 25px;
    margin: 0px;
    background: #353535;
    color: #FFFFFF;
    @media (min-width:1024px){
        flex-direction: row-reverse;
        align-items: center;
        gap: 40px;
        justify-content: flex-start;
        padding-right: 25px;
    }
    h1{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 16px;
        @media (min-width:1024px){
            margin: 0;
        }
    }
    .footer__text{
        display: flex;
        flex-direction: column;
        gap: 7px;
        @media (min-width:1024px){
            flex-direction: row;
            gap: 32px;
        }
        a{
            color: #FFFFFF;
        }
        a:hover{
            background: #fefefe;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .fa-utensils, .fa-handshake-angle{
        margin-right: 11px;
    }
}

/****** Page de restaurant ***********/
.fa-arrow-left{
    position: absolute;
    top: 18px;
    left: 35px;
    font-size: 23px;
    transition: transform 200ms;
    }
.fa-arrow-left:hover{
    transform: scale(1.3);
}
.img__menu{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.container__menu{
    position: relative;
    margin-top: -41px;
    padding-top: 32px;
    border-radius: 25px 25px 0 0;
    background: #fafafa;
    @media (min-width: 768px){
        margin: -41px 40px 0 40px;
    }
    .container__menu--title{
        display: flex;
        margin: 0 17px;
        position: relative;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 768px){
            justify-content: center;;
        }
        h2{
            margin: 0;
            font-family: 'shrikhand';
            font-weight: 400;
        }
        .heart_page i {
            font-size: 28px;
            transition: all 400ms ease-in-out;
            position: absolute;
            bottom: 3px;
            right: 12px;
            @media (min-width: 768px){
                position: absolute;
                right: 25%;
            }
          }           
        .heart_container .heart_full {
            background-image: linear-gradient(190deg, #9356DC 0%, #FF79DA 70%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
        }      
        .heart_container:hover .heart_full {
            opacity: 1;
        }
    }
    .container__menu--btn{
        display: flex;
        justify-content: center;
    }
}
.container__menu--menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 25px 13px 0 13px;
    @media (min-width: 768px){
        margin: 25px 80px 0 80px;
    }
    h2{
        margin: 0;
        width: 40px;
        padding-bottom: 10px;
        margin-bottom: 12px;
        border-bottom: 3px solid #99E2D0;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }
    .card__menu{
        margin: 0 0 12px 0;
        background: #ffffff;
        border-radius: 25px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .card__menu--title{
            width: 90%;
            height: 42px;
            padding: 12px 0 12px 10px;
            overflow: hidden;
            h3, p{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 0;
            }
        }
        .card__menu--price{
            text-align: right;
            width: 10%;
            padding: 35px 10px 0 10px;
        }
        .checked{
            width: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #99E2D0;
            border-radius: 0 25px 25px 0;
            transform: scaleX(0);
            transition: width 300ms 150ms ease-in-out;
            transform-origin: right;
            i{
                color: #FFFFFF;
                display: none;
            }
        }
    }
    .card__menu:hover .checked{
        width: 60px;
        transform: scaleX(1);
        i{
            display: inline;
        }
    }
    .entrees{
        animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .plats{
        animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .desserts{
        animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    }
    @keyframes slide {
        0%{
            transform: translateY(200px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}